ApprovalandNotificationforNewrequest(DeployMate)_20220722111603/Microsoft.Flow/flows/fb2fc8d8-0e70-4ad4-bed4-26a57c4cc004/definition.json
{"name":"5e0bdbb5-4393-4373-9050-74a6184d8786","id":"/providers/Microsoft.Flow/flows/5e0bdbb5-4393-4373-9050-74a6184d8786","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Approval and Notification for New request(DeployMate)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"778a865b-7e09-4f8d-b725-cb5217e5412b","type":"User","tenantId":"fbc493a8-0d24-4454-a815-f4ca58e8c09d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-06-16T08:23:25.2952952Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Startanapproval_Title":{"type":"string","description":"Create a title for the approval. This parameter is used as part of \"AE809A62-E6A9-4702-8969-6052BA51CB3F\"","x-ms-powerflows-param-ispartial":true},"Startanapproval_Details":{"type":"string","description":"Markdown supported (see https://aka.ms/approvaldetails). This parameter is used as part of \"594E4B70-9499-437F-A2A5-08A1255D9D6C\"","x-ms-powerflows-param-ispartial":true},"Startanapproval_Details_1":{"type":"string"},"Startanapproval_Details_2":{"type":"string"},"Startanapproval_Details_3":{"type":"string"},"Startanapproval_Details_4":{"type":"string"},"Sendemail_To":{"type":"string","format":"email","description":"Specify email addresses separated by semicolons like someone@contoso.com","x-ms-powerflows-param-ispartial":false},"Updateitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be updated","x-ms-powerflows-param-ispartial":false},"Updateitem_SlNo":{"type":"number","format":"double","x-ms-powerflows-param-ispartial":false}},"required":["Startanapproval_Title","Startanapproval_Details","Startanapproval_Details_1","Startanapproval_Details_2","Startanapproval_Details_3","Startanapproval_Details_4","Sendemail_To","Updateitem_Id","Updateitem_SlNo"]}}}},"actions":{"Send_emailScope":{"actions":{"Send_email":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@triggerBody()['Sendemail_To']","Subject":"Deployment Update:  @{triggerBody()['Startanapproval_Title']}","Body":"<b> - This is an automated message from MS Power Automate - </b> </br>\nHello, </br>\nI will be working on deploying this story: @{triggerBody()['Startanapproval_Title']} <br>\n","From":"@body('Start_an_approval')?['responder']?['email']","Importance":"Normal","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Send_email":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@triggerBody()['Startanapproval_Title']","Sl_x0020_No":"@triggerBody()['Updateitem_SlNo']","Issueloggedby":{"Claims":"@body('Start_an_approval')?['responder']?['displayName']"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://cernerprod.sharepoint.com/sites/InfraOSSDeployments'))}/tables/@{encodeURIComponent(encodeURIComponent('29d866d9-2e2e-427b-9ea2-a44ca292abb5'))}/items/@{encodeURIComponent(triggerBody()['Updateitem_Id'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Start_an_approval":["Succeeded"]},"expression":"@equals(body('Start_an_approval')['response'], 'Acknowledge')","type":"If"},"Start_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/approvals"}},"body":{"responseOptions":["Acknowledge","Ignore"],"notificationUrl":"@listCallbackUrl()","title":"Deployment Request: @{triggerBody()['Startanapproval_Title']}","assignedTo":"Prapti.Luthra@cerner.com;sunder.thyagaraj@cerner.com;Dania.Jaison@cerner.com;","details":"Deployment Request for Solution:@{triggerBody()['Startanapproval_Details']}  and Story:  @{triggerBody()['Startanapproval_Title']}\n\nGithub PR Link: @{triggerBody()['Startanapproval_Details_1']}\n\nCertification Details (Server, Path, indices involved): @{triggerBody()['Startanapproval_Details_2']}\n\nRequested By: @{triggerBody()['Startanapproval_Details_3']}\n\nLink to this the deployment list: @{triggerBody()['Startanapproval_Details_4']}","enableNotifications":true},"path":"/types/@{encodeURIComponent('CustomResponse')}/$subscriptions","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"description":"Use this template for processing approvals on SharePoint list items. Once an item is approved, the item creator is sent a confirmation email."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-5dc3e25a-c5f0-4a25-8422-4c5d-6ed3aacf","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"96101a7b5d5b41acb425a95f5cbff95e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-ad9bfc2b-ae86-496a-9497-d0cb-5b3a0f8f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}