DeployMate_20220722110918/Microsoft.Flow/flows/2a5f7b09-3727-4653-81ef-96d9e6bfb143/definition.json
{"name":"dea8e72e-17ee-4cd7-a8ad-c53a1673ee5d","id":"/providers/Microsoft.Flow/flows/dea8e72e-17ee-4cd7-a8ad-c53a1673ee5d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Deployment Status Notifier(Deploy-Mate)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"8bfc5f13-ac36-49f6-8629-38fc0e554a92","type":"User","tenantId":"fbc493a8-0d24-4454-a815-f4ca58e8c09d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-06-16T09:39:01.7940076Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Condition_ObjectName":{"type":"any","description":"Choose a value","x-ms-powerflows-param-ispartial":false},"Condition_ObjectName_1":{"type":"any"}},"required":["Condition_ObjectName","Condition_ObjectName_1"]}}}},"actions":{"Condition":{"actions":{"Get_emails_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"parameters":{"folderPath":"Sent Items","fetchOnlyUnread":false,"includeAttachments":false,"top":1,"importance":"Any","fetchOnlyWithAttachment":false,"subjectFilter":"Deployment Update: "},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Reply_to_email_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"ReplyToV3"},"parameters":{"messageId":"@items('Apply_to_each')?['id']","replyParameters/Body":"<p><strong>- This is an automated message from MS Power Automate -<br>\n<br>\nThis story: </strong>for <strong>Solution</strong>: has been deployed successfully.<br>\n<strong>Change ID:<br>\nPost Deployment Notes/Comments:<br>\n<br>\n<br>\n// Deployment status was changed to completed<br>\n<br>\n</strong><strong>@{triggerBody()['Condition_ObjectName_1']}</strong><strong></strong><strong>@{triggerBody()['Condition_ObjectName']}</strong><strong></strong></p>","replyParameters/ReplyAll":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_emails_(V3)":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@triggerBody()['Condition_ObjectName_1']","Completed"]},"type":"If"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-8d568dc8-219a-4ded-9683-a14190ea5acf","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}