DeployMate_20220722110918/Microsoft.Flow/flows/6adbd20f-ce66-4506-a28e-2ddbafe4899b/definition.json
{"name":"9d502c23-4504-48a8-ad68-1cba91c91a46","id":"/providers/Microsoft.Flow/flows/9d502c23-4504-48a8-ad68-1cba91c91a46","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flow - Notification for New request and its approval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"778a865b-7e09-4f8d-b725-cb5217e5412b","type":"User","tenantId":"fbc493a8-0d24-4454-a815-f4ca58e8c09d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-06-16T06:36:05.3510297Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Startanapproval_Title":{"type":"string","description":"Create a title for the approval. This parameter is used as part of \"A0A8DCD6-B437-436E-81E8-5C0BFCB7CF13\"","x-ms-powerflows-param-ispartial":true},"Startanapproval_Details":{"type":"string","description":"Markdown supported (see https://aka.ms/approvaldetails). This parameter is used as part of \"F1A3AF3E-4075-41AE-8060-99E939F9872F\"","x-ms-powerflows-param-ispartial":true},"Startanapproval_Details_1":{"type":"string"},"Startanapproval_Details_2":{"type":"string"},"Startanapproval_Details_3":{"type":"string"},"Startanapproval_Details_4":{"type":"string"},"Startanapproval_Details_5":{"type":"string"},"Startanapproval_Itemlink":{"type":"string","description":"Add a link to the item to approve","x-ms-powerflows-param-ispartial":false},"Sendemail_To":{"type":"string","format":"email","description":"Specify email addresses separated by semicolons like someone@contoso.com","x-ms-powerflows-param-ispartial":false},"Updateitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be updated","x-ms-powerflows-param-ispartial":false},"Updateitem_SlNo":{"type":"number","format":"double","x-ms-powerflows-param-ispartial":false}},"required":["Startanapproval_Title","Startanapproval_Details","Startanapproval_Details_1","Startanapproval_Details_2","Startanapproval_Details_3","Startanapproval_Details_4","Startanapproval_Details_5","Startanapproval_Itemlink","Sendemail_To","Updateitem_Id","Updateitem_SlNo"]}}}},"actions":{"Send_emailScope":{"actions":{"Send_email":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@triggerBody()['Sendemail_To']","Subject":"Deployment Update:  @{triggerBody()['Startanapproval_Title']}","Body":"<b> - This is an automated message from MS Power Automate - </b> </br>\nHello, </br>@{triggerBody()['Startanapproval_Title']}\nI will be working on deploying this story: @{triggerBody()['Startanapproval_Title']} <br>\n","From":"Dania.Jaison@cerner.com","Importance":"Normal","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Send_email":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@triggerBody()['Startanapproval_Title']","Sl_x0020_No":"@triggerBody()['Updateitem_SlNo']","Issueloggedby":{"Claims":"@body('Start_an_approval')?['responder']?['displayName']"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://cernerprod.sharepoint.com/sites/InfraOSSDeployments'))}/tables/@{encodeURIComponent(encodeURIComponent('29d866d9-2e2e-427b-9ea2-a44ca292abb5'))}/items/@{encodeURIComponent(triggerBody()['Updateitem_Id'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Start_an_approval":["Succeeded"]},"expression":"@equals(body('Start_an_approval')['response'], 'Acknowledge')","type":"If"},"Start_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/approvals"}},"body":{"responseOptions":["Acknowledge","Ignore"],"notificationUrl":"@listCallbackUrl()","title":"Deployment Request: @{triggerBody()['Startanapproval_Details_1']}","assignedTo":"Dania.Jaison@cerner.com;","details":"Deployment Request for Solution: @{triggerBody()['Startanapproval_Details']} and Story:  \n@{triggerBody()['Startanapproval_Title']}\nGithub PR Link: @{triggerBody()['Startanapproval_Details_2']}\n\nCertification Details (Server, Path, indices involved): \n@{triggerBody()['Startanapproval_Details_3']}\nRequested By: @{triggerBody()['Startanapproval_Details_4']}\n\nLink to this the deployment list: @{triggerBody()['Startanapproval_Details_5']}","requestor":"@{triggerBody()['Sendemail_To']};","enableNotifications":true},"path":"/types/@{encodeURIComponent('CustomResponse')}/$subscriptions","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"description":"Use this template for processing approvals on SharePoint list items. Once an item is approved, the item creator is sent a confirmation email."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-5dc3e25a-c5f0-4a25-8422-4c5d-6ed3aacf","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"96101a7b5d5b41acb425a95f5cbff95e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-ad9bfc2b-ae86-496a-9497-d0cb-5b3a0f8f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}